{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
<style>
    html * {
        color: rgb(38, 55, 112);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #header {
        background-color: whitesmoke;
        height: auto;
        color: blue !important;
    }

    #header a:visited {
        color: blue !important;
    }
    #user-tools a:link{
        color: #79aec8;
        font-size: large;
    }
    #user-tools a:focus,
    #user-tools a:hover,
    #user-tools a:visited {
        font-size: large;
        text-decoration: none;
        border-bottom-color: #79aec8;
        color: blue;
    }

    .page-footer {
        background-color: whitesmoke;
        text-align: center !important;

    }

    .page-footer h3 {
        color: #0056b3;
    }

</style>
{% endblock %}
{% block title %}{{ title }} | Administracion de Youtime {% endblock %}
{% block branding %}
<div class="navbar" style="text-align: center; display: block important!">
    <a class="navbar-brand" style="font-weight: bold;" href="/admin"><img class="img-thumbnail rounded-pill"
            src="{{ MEDIA_URL }}images/logo.png" id="logo" alt="logo"></a>
</div>
{% endblock %}
{% block nav-global %} {% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="page-footer">
    <br><br><br>
    <div class="container-fluid text-center text-md-left">
        <h3 class="text-center">We manage your time</h3>
        <div class="row">
            <a class="rounded mx-auto d-block" style="font-weight: bold;" href="/admin"><img width="200" height="100"
                    class="img-thumbnail rounded-pill" src="{{ MEDIA_URL }}images/4.png" id="logo" alt="logo"></a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> Youtime.com</a>
    </div>
</footer>
{% endblock %}