<div class="modal" id="modal_vacaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Solicita tus Vacaciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form method='post' action="">{% csrf_token %}
                        <label for="">Fecha Desde:</label>
                        <input type="date" name="fecha_desde" min='1899-01-01' required class="form-control date-icon">
                        <label for="">Fecha Hasta</label>
                        <input type="date" name="fecha_hasta" required class="form-control">
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn-success" id='crear' value="Solicitar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>