<div class="modal fade" id="modal_perfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Editar tu Perfil</h4>
            </div>
            <div class="modal-body mx-3">
                <div class="form-group">
                    {% if perfil %}
                    <form method='post' action="">{% csrf_token %}
                        <label for="nombre">Introduce tu nombre</label>
                        <input class="form" type="text" name="nombre">
                        <input class="form-control" type="file" name="myfile">
                        <button type="submit">Upload</button>
                        {{perfil.dias_vacaciones}}
                        {{ perfil.hora_entrada }}/{{perfil.hora_salida}}
                        <td>{% if perfil.dentro == True %}<svg width="100" height="100">
                                <circle cx="50" cy="50" r="10" fill="green" />
                            </svg>{% else %}<svg width="100" height="100">
                                <circle cx="50" cy="50" r="10" fill="red" />
                            </svg>{% endif %}</td>
                    </form>
                    {% else %}
                    <h5>Completa tu perfil para editarlo</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>