<div id='navbar'>
    <nav class="navbar navbar-expand-sm">
        <a href="/"><img class="img-thumbnail rounded-pill" src="{{ MEDIA_URL }}images/logo.png" id="logo"
                alt="logo"></a>
        <button class="navbar-toggler 4g-primary" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon bg-info circle"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vacaciones">Vacaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mensajes">Mensajes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Menú</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/admin">Admin</a>
                        <a class="dropdown-item" href="/perfil">Mi perfil</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-brand"  id="entrance">
                <input class="btn-rounded" type="button" value="entrar" id="entrar" class="btn-info">
                <input class="btn-rounded" type="button" value="salir" id="salir" class="btn-info">
                {% if perfil.dentro == True %}<svg width="50" height="50">
                    <circle cx="25" cy="25" r="10" fill="green" />
                </svg>{% else %}<svg width="50" height="50">
                    <circle cx="25" cy="25" r="10" fill="red" />
                </svg>{% endif %}
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <div class="mensajes col text-right">{% if mensajes %} Tienes <a href="/mensajes">{{mensajes}}</a> mensajes
                nuevos{% else %}{% endif %} <a href="/perfil"><img src="{{ MEDIA_URL}}{{perfil.imagen_perfil }}"
                        height="25" width="50" class="img-thumbnail" alt="sin imagen perfil"></a>
                <small class="text-muted">Bienvenido <a href="">{{usuario}}</a>, Has iniciado sesión el
                    {{usuario.last_login}}
                </small><span><a href="/admin/logout">logout</a></div>
        </div>
    </nav>
</div>