
body{
    padding-top: 65px; 
}
html *
{
    color: rgb(38, 55, 112);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    padding: 2%;
    overflow: scroll;
    min-height: 50vh;
}

#panel{
    padding: 3%;
    overflow: scroll;
    width: 100%;
    height: auto;
}

#header{
    top: 0;
    background-color: white;
}
#navbar {
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color:whitesmoke;
    color: blue;
    text-decoration: none;
}


.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(38, 55, 112);
    text-align: center;
}

footer {
    display: block;
}

footer img{
    width: auto;
    
}

footer {
    bottom: 0px;
    color: #272727;
    text-align: center;
    padding: 12px 30px;
    position: absolute;
    right: 0;
    left: 200px;
    background-color: whitesmoke;
    border-top: 1px solid rgb(223, 223, 255);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

 footer img {
    width: auto !important;
    cursor: pointer;
    margin: auto;
    margin-top: 1;
}

    .footer img:not(:last-child) {
    margin-right: 50px ;
}