<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtime</title>
    {% load static %}
    {% load i18n %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog_post.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
    <script src="{% static  'js/Chart.min.js' %}" integrity="sha256-ZIWqk8gTF95t9mHIlxHL4ycYu52IHVcDiE9r5WauNjE="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</head>

<body>
    <header class="fixed-top">
        {% block navbar%}
        {% include 'modales/navbar.html' %}
        {% endblock navbar%}
    </header>
    <main class="container-fluid" role="main">
        {% block contenido %}
        {% endblock contenido %}
    </main>
    <footer class="fixed-bottom text-center" role="footer">
        {% block footer %}
        <div class="container-fluid text-center">
            <a class="rounded mx-auto d-block" style="font-weight: bold;" href="/admin"><img
                    class="img-thumbnail rounded-pill" src="{{ MEDIA_URL }}images/logo2.png" id="logo" alt="logo"></a>
                <a href="/">© 2020 Copyright:  Youtime.com</a>
        </div>
        {% endblock %}
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static  'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prueba.js' %}"></script>
</body>