{% extends 'base.html' %} {% block contenido %} {% load static %}
<!-- Perfil del Usuario -->
<div class="container-fluid row" id="panel">
    <div class="col">
        <!--Botones de entrada y salida -->     
        <div class="row" id="perfil">
            <input type="hidden" class="hidden" id='alerta' value="{{ alerta }}">
            <hr>
            <div class="col-lg-7">
                <h4>{% if usuario.first_name %}Bienvenido {{usuario.first_name}} {% else %} Bienvenido <h6>(No has
                        introducido tu nombre, ve a tu perfil) {% endif %} </h4>
                <div class="text-center">
                    <h6 class="text-center">Miembro desde:<p class="text-success">{{usuario.date_joined}}</p>
                    </h6>
                </div>
            </div>
            <!--Ultimos entradas/salidas-->
            <div class="col">
                <hr>
                <label for="ultimaEntrada">Ultima Entrada:</label>
                <h6 class="text-success">{% if entrada %} {{ entrada.hora}} {% else %} no
                    hay ningun registro{% endif %} </h6>
                <hr>
                <label for="ultimaEntrada">Ultima Salida:</label>
                <h6 class="text-success">{% if salida %} {{salida.hora}}{% else %} no
                    hay ningun registro{%  endif %} </h6>
                <hr>
                {% if diario %}
                <!--Calculamos las horas trabajadas del dia y las mostramos-->
                <div class="row">
                    <div class="col"> <label for="">Llegaste a trabajar: </label>
                        <h6 class="text-success"> {{diario.hora_entrada}}</h6>
                    </div>
                    <div class="col">
                        <label for="">Llevas trabajadas: </label>
                        <h6 class="text-success">{{diario.horas_trabajadas}} horas</h6>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- HORARIO DEL USUARIO -->
        <hr>
        <label for="">Horario</label>
        <div class="container-fluid row">
            <div class="col">
                <label for="">Hora entrada:</label>
                <p class="text-success">{% if perfil.hora_entrada %} {{perfil.hora_entrada}}{% else %}
                    No se olvide registrar su horario de entrada {% endif %} </p>
                <hr>
            </div>
            <div class="col">
                <label for="ultimaEntrada">Hora salida:</label>
                <p class="text-success">{% if perfil.hora_salida %} {{perfil.hora_salida}}{% else %}
                    No se olvide registrar su horario de salida{% endif %}</p>
                <hr>
            </div>
        </div>
    </div>
    <!-- vacaciones y puntualidad -->
    <div class="jumbotron table-responsive table-bordered col-lg-4" id="vacaciones">
        <div class="row">
           <!--  <div class="col">
                <h6>Puntualidad este més</h6>
                <canvas id="myChart" width="100%" height="auto"></canvas>
            </div> -->
            <div class="col">
                <div class="table-active text-center">
                    <h3 class="text-center">vacaciones</h3>
                    <div class="row">
                        <div class="col"><label class="text-success font-weight-bold" for="diasVaca">Dias
                                Restantes</label>
                            <p class="">{% if perfil.dias_vacaciones %}
                                {{ perfil.dias_vacaciones}}
                                {% else %} Registrar Vacaciones{% endif %}
                            </p>
                            <hr>
                        </div>
                        <div class="col"><label class="text-danger font-weight-bold" for="diasVaca">Gastados</label>
                            <p class="">{% if perfil.dias_gastados %} {{ perfil.dias_gastados }} {% else %} No
                                aceptados{% endif %}
                            </p>
                            <hr>
                        </div>
                        <div class="col">
                            <h6>Ultima solicitud</h6>
                            <p>{% if vacaciones.dias %} {{ vacaciones.dias }} dias {% else %} no hay solicitudes
                                {% endif %}
                            </p>
                            <p>Aceptadas:</p>
                            {% if vacaciones.aceptadas == True %} <h6 class="text-success"> Si </h6>{% else %} <h6
                                class="text-danger">No</h6> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for medias in media %}
            {{ media }}
            {% endfor %}
        </div>
    </div>
    {% endblock contenido %}