{% extends 'base.html' %} {% block contenido %} {% load static %}
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-7">
            <br><br>
            <h4>Buzon de Mensajes</h4>
            <hr>
            {% if todos_mensajes %}
            <table class="table table-striped table-responsive">
                <thead>
                    <th scope="col">Asunto</th>
                    <th scope="col">Mensaje</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Leido</th>
                </thead>
                {% for mensaje in todos_mensajes %}
                <tbody>
                    <td>{{ mensaje.asunto }}</td>
                    <td id="asunto">{{mensaje.msg}}</td>
                    <td>{{ mensaje.fecha_hora }}</td>
                    <td>{{ mensaje.leido }}</td>
                    <td><button class="btn deleteBtn btn-danger" id='borrar_mensaje' value="{{mensaje.id}}">Borrar</button>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
                Aún no hay mensajes
            {% endif %}
        </div>
        <div class="col-md-auto">
            <br><br>
            <h4>Menu de mensajes</h4>
            <div class="row">
                <div class="col"><button class="btn-success">Enviar un mensaje</button></div>
                <div class="col"><button class='btn-info'>Bandeja de entrada</button></div>
                <div class="col"><button>Enviar un mensaje</button></div>
                <div class="col"><button>Enviar un mensaje</button></div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}