{% extends 'base.html' %} {% block contenido %} {% load static %}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h4>Bienvenido a tu perfil {{ usuario.first_name }} </h4>
            <button type="button" id="boton_perfil" class="btn btn-primary" data-toggle="modal"
                data-target="#modal_perfil">
                Editar
            </button>
            {% include 'modales/modal_perfil.html' %}
        </div>     
    </div>
    <div class="row">
        <div class="col text-center">
            {% if perfil %}
            <label for="">Imagen de perfil</label>
            <img class="img-thumbnail" src="{{ MEDIA_URL }}{{perfil.imagen_perfil}}" alt="Sin imagen de perfil">
            <hr>
            <label>Dias de Vacaciones {{perfil.dias_vacaciones}}</label>
            <td></td>
            <hr>
            <label>Horario: {{ perfil.hora_entrada }}/{{perfil.hora_salida}}</label> 
            <hr>
            <label>Estas trabajando?</label>
            <td>{% if perfil.dentro == True %}<svg width="100" height="100">
                    <circle cx="50" cy="50" r="10" fill="green" />
                </svg>{% else %}<svg width="100" height="100">
                    <circle cx="50" cy="50" r="10" fill="red" />
                </svg>{% endif %}</td>
            </tr>
            {% endif %}
        </div>
    </div>
</div>
{% endblock contenido %}