{% extends 'base.html' %} {% block contenido %} {% load static %}
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h4>{% if usuario.first_name %}Vacaciones de {{usuario.first_name}} {% else %} No has introducido tu nombre, ve a tu perfil {% endif %} </h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="overflow-auto">
                {% include 'modales/modal_vacaciones.html' %}
                {% if vacaciones %}
                <table class="table table-striped table-responsive text-center">
                    <thead>
                        <th scope="col">Dias Solicitados </th>
                        <th scope="col">Aceptadas </th>
                        <th scope="col">Fecha solicitud </th>
                        <th scope="col">Para hacer una nueva solicitud, haz click aquí <button class="btn-success btn"
                                type="button" id="boton_vacaciones">Solicitar</button>
                        </th>
                    </thead>
                    <tbody>
                        {% for vacas in vacaciones %}
                        <td>{{ vacas.dias }}</td>
                        <td id="aceptadas" value='{{vacas.aceptadas}}'>{% if vacas.aceptadas == True %} Si {% else %} No
                            {% endif %}</td>
                        <td>{{ vacas.fecha_hora }}</td>
                        <td><button class="btn deleteBtn btn-danger" id='borrar' value="{{vacas.id}}">Borrar</button>
                    </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <th scope="col">Para hacer una nueva solicitud, haz click aquí <button class="btn-success btn"
                    type="button" id="boton_vacaciones">Solicitar</button>
                {% endif %}
            </div>
        </div>
    </div>
    <input type="hidden" id='alerta' value="{{alerta}}"></td>
</div>
{% endblock contenido %}